@model Cliente

<form id="form" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Editar Cliente </h2>
            <hr/>
        </div>

        <div class="row">
            <!-- input criado para não causar duplicação ao dar Update() -->
            <input type="hidden" asp-for="Id"/>
            <!---->
            <input type="hidden" asp-for="DataCadastro"/>
            <input type="hidden" id="idCliente"/>

            <div class="form-group col-md-6">
                <label asp-for="Nome" class="form-label mt-4"></label>
                <input asp-for="Nome" class="form-control col-md-4" id="Nome" placeholder="Digite o Nome">
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Email" class="form-label mt-4"></label>
                <input asp-for="Email" class="form-control col-md-4" id="Email" placeholder="Digite o Email">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Celular" class="form-label mt-4"></label>
                <input asp-for="Celular" onkeydown="return mascaraTelefone(event)" class="form-control col-md-4" id="Celular" placeholder="(21) 99999-9999">
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Endereco" class="form-label mt-4"> Endereço </label>
                <input asp-for="Endereco" class="form-control col-md-4" id="Endereco" placeholder="Digite o Endereço">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="DataNascimento" class="form-label mt-4"> Data de Nascimento </label>
                <input asp-for="DataNascimento" type = "date" class="form-control col-md-4" id="DataNascimento" onblur="ObterSigno(this.value)">
            </div>

            <div class="form-group col-md-6">
                <label asp-for="Signo" class="form-label mt-4"></label>
                <input asp-for="Signo" class="form-control col-md-4" id="Signo" readonly>
            </div>
        </div>
        <br />

        <button type= "button" onclick="EditSubmit()" class="btn btn-primary swalDefaultError"> Salvar </button>
        <a asp-controller="Cliente" asp-action="Index" class="btn btn-secondary"> Voltar </a>
        <button type="button" class="btn btn-danger float-end" onclick="ConfirmDelete(@Model.Id)"> <i class="bi bi-trash"></i> Excluir </button>

    </div>
</form>

<!-- MODAL -->
<div class="modal fade" id="modalDeletar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Deletar Cliente</h4>
                </div>
                <div class="modal-body">
                    <h6> Deseja realmente excluir o(a) Cliente? </h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="DeleteEmployee()"> Confirmar </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>

            </div>

        </div>

</div>

<script src="~/js/Form.js" asp-append-version="true"></script>
@section Scripts {
    
<script>

        var ConfirmDelete = function (id) {

            $("#idCliente").val(id);
            $("#modalDeletar").modal('show');

        }

        var DeleteEmployee = function () {

            var clienteID = $("#idCliente").val();

            $.ajax({

                type: "POST",
                url: "/Cliente/Delete",
                data: { id: clienteID },
            }).done(function (res) {
                window.location.href = res.newUrl;
            })

        }
</script>
}